body {
    background: #f8f9fa;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.table img {
    border-radius: 8px;
}

.cancelled-row {
    opacity: 0.6;
}

.btn-soft {
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 900;
    border: none;
    transition: 0.2s;
}

.btn-deposit {
    background-image: linear-gradient(30deg, #99efa3, #0dbc38);
    color: #f7f8f9;
}

.btn-deposit:hover {
    background-position: right center;
    background-size: 200% auto;
}

.btn-cancel {
    background-image: linear-gradient(30deg, #b8bdb8, #7c807d);
    color: #f5f2f2;
}

.btn-cancel:hover {
    background-position: right center;
    background-size: 200% auto;
}

.progress {
    background: #eee;
    border-radius: 10px;
    height: 8px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #4facfe, #00f2fe);
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    text-align: right;
    padding-right: 5px;
    line-height: 8px;
}

.badge-pending {
    background-image: linear-gradient(30deg, #b8bdb8, #7c807d);
    color: #f5f2f2;
}

.badge-accepted {
    background-image: linear-gradient(30deg, #7382f5, #3330f2);
    color: #f5f2f2;
}

.badge-rejected {
    background-image: linear-gradient(30deg, #f57773, #f24330);
    color: #f5f2f2;
}

.badge-deposit_paid {
    background-image: linear-gradient(30deg, #73d5f5, #30a1f2);
    color: #f5f2f2;
}

.badge-completed {
    background-image: linear-gradient(30deg, #79f573, #30f233);
    color: #f5f2f2;
}

.badge-cancelled {
    background-image: linear-gradient(30deg, #f57773, #f24330);
    color: #f5f2f2;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background: #00f2fe;
}

thead th {
    background-color: #f6f1f1 !important;
    background: #f8f9fa;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border-top: 2px solid #5a2a26;
    border-bottom: 2px solid #5a2a26;
}

/* Bo góc trái */
thead th:first-child {
    border-left: 2px solid #5a2a26;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* Bo góc phải */
thead th:last-child {
    border-right: 2px solid #5a2a26;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.blog-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.blog-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: 0.3s;
}

.blog-card:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.tag {
    display: block;
    font-size: 12px;
    color: #00bcd4;
}

.post-card img {
    width: 100%;
    height: 240px;
    border-radius: 10px;
}

.post-card h5 {
    font-weight: 600;
    margin-top: 10px;
}

.about-box {
    background: #f8f9fa;
    border-radius: 15px;
}

.blog-logo {
    font-family: 'Georgia', serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 28px;
}